<div id="card-base-{{id}}" class="card-base">
	<div class="title-box">
		<img title="{{item.name}}" data-action="image-edit" src="{{item.img}}" />
		<input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'DH.Name'}}" autocomplete="off" />
	</div>

	{{> (lookup . 'content') }}
</div>
