<div id="panel-resources-{{id}}" class="panel-content tracker{{#if panels.visible.resources}} show{{/if}}">
		<div class="header">
			<span>Resource Trackers</span>
			<button data-action="panel-close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="content">
			<legend class="col-flex">New Resource</legend>
			<div class="grid">
				{{!-- 1 / 5 --}}
				<label class="col-1-1">Name</label>
				<input
					type="text"
					name="ress-next-name"
					placeholder="Resource name"
					class="ress-next-name col-2-5"
					value="{{resources.next.name}}" />
				{{!-- 1 / 3 / 2 --}}
				<label class="col-1-1">Value</label>
				<div class="in-dual col-2-3">
					<input
						min="0"
						type="number"
						placeholder="0"
						name="ress-next-value"
						value="{{resources.next.value}}" />
					<span class="separator">/</span>
					<input
						min="1"
						type="number"
						placeholder="Max"
						name="ress-next-max"
						value="{{resources.next.max}}" />
				</div>
				<div class="wrap-color col-5-2">
					<input
						type="color"
						name="ress-next-color"
						value="{{resources.next.color}}" />
				</div>
				{{!-- 6 --}}
				<button class="col-flex" data-action="resources-create">
					<i class="fas fa-plus"></i>
					Add Resource
				</button>
			</div>
			<div class="spacer"><hr /></div>
			<legend>Existing Resources</legend>
			<div class="scroll">
				<div class="grid">
					{{#each resources.list}}
					{{!-- 1 / 3 / 1 / 1 --}}
					<div class="col-1-1 row">
						<div class="color-dot" style="background-color: {{this.color}}"></div>
					</div>
					<span class="col-2-3">{{this.name}}</span>
					<span class="col-5-1 center">{{this.value}} / {{this.max}}</span>
					<div class="col-6-1">
						<button
							class="button-dot"
							data-index="{{@index}}"
							data-action="resources-delete">
							<i class="fas fa-times no-click"></i>
						</button>
					</div>
					{{!-- </div> --}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
