<div id="panel-resources-{{id}}" class="panel-content tracker{{#if panels.state.showPanel}} show{{/if}}">
		<div class="header">
			<span>Resource Trackers</span>
			<button data-action="panel-close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="content">
			<fieldset class="form-section">
				<legend>New Resource</legend>
				<div class="field">
					<label>Name</label>
					<input
						type="text"
						name="ress-next-name"
						class="ress-next-name"
						placeholder="Resource name"
						value="{{resources.next.name}}" />
				</div>
				<div class="field">
					<div class="field box-2x">
						<label>Value</label>
						<div class="min-max">
							<input
								min="0"
								type="number"
								placeholder="0"
								name="ress-next-value"
								value="{{resources.next.value}}" />
							<span class="value-separator">/</span>
							<input
								min="1"
								type="number"
								placeholder="Max"
								name="ress-next-max"
								value="{{resources.next.max}}" />
						</div>
					</div>
					<div class="field box-1x">
						<label>Color</label>
						<div class="wrap-color">
							<input
								type="color"
								name="ress-next-color"
								value="{{resources.next.color}}" />
						</div>
					</div>
				</div>
				<div class="field">
					<button data-action="resources-create">
						<i class="fas fa-plus"></i>
						Add Resource
					</button>
				</div>
			</fieldset>
			<hr />
			<fieldset class="list-section">
				<legend>Existing Resources</legend>
				{{#each resources.list}}
				<div class="field" data-tracker-id="${tracker.id}">
					<div class="row box-2x">
						<div class="row">
							<div class="color" style="background-color: {{this.color}}"></div>
							<span>{{this.name}}</span>
						</div>
						<span class="end">{{this.value}} / {{this.max}}</span>
					</div>
					<button
						data-index="{{@index}}"
						data-action="resources-delete">
						<i class="fas fa-times no-click"></i>
					</button>
				</div>
				{{/each}}
			</fieldset>
		</div>
	</div>
</div>
