<div id="{{key}}" class="select {{key}}">
	<div class="selected">{{active}}</div>
	<ul class="options">
		{{#each options}}
		<li data-value="{{value}}" data-active="{{active}}">{{label}}</li>
		{{/each}}
	</ul>
</div>
